/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

/* header */
header {
  padding: 2rem;
  background-color: #1212b2;
  color: #e9f45b;
  text-align: center;
  font-size: 1.8rem;
}

/* jumbo */
#jumbotron {
  padding-top: 3.7rem;
  height: 400px;
  background-image: url("img/cover-bg.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

#jumbotron h2 {
  font-size: 3.1rem;
}

#jumbotron #subtitle {
  font-size: 1.3rem;
}

/* main */
main {
  max-width: 850px;
  margin: auto;
  padding: 2rem 0;
}

main section {
  padding-bottom: 1.5rem;
}

main section.flex-sections {
  display: flex;
  gap: 1rem;
}

main section h4 {
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
}

main section p {
  font-size: 1.3rem;
}

main section#chat-gpt p:last-child {
  padding-top: 1.2rem;
}

main section#chat-gpt #chat-gpt-img {
  margin-top: 1.2rem;
  width: 100%;
  object-fit: cover;
}

main section#dall-e #dall-e-img {
  width: 280px;
  object-fit: cover;
}

main section#dall-e #dall-e-right #dall-e-right-txt {
  padding-bottom: 1.2rem;
}

/* footer */
footer {
  padding: 2rem;
  background-color: #1212b2;
  color: white;
  text-align: right;
  font-size: 1.2rem;
}

footer #footer-inner {
  max-width: 900px;
  margin: auto;
}

footer #footer-inner a {
  color: #bd1e90;
}

footer #footer-inner a:hover {
  color: #ffb703;
}
